<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }} - Task Manager</title>
        {% else %}
        <title>Task Manager</title>
        {% endif %}
    </head>
    <body>
        <div>
            Task Manager:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('registration') }}">Registration</a>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
