<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <title>Task Manager</title>

</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a href="{{ url_for('home') }}"
               class="btn btn-outline-light">Task Manager</a>
        </div>
        <div class="login-panel">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('create') }}"
                   class="btn btn-success">Create Task</a>
                <a href="{{ url_for('account') }}"
                   class="btn btn-light">Hello, {{ current_user.username }}</a>
                <a href="{{ url_for('logout') }}"
                   class="btn btn-light">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}"
                   class="btn btn-light">Login</a>
            {% endif %}
        </div>
    </nav>
</header>
<main role="main" class="container-xl">
    <div class="row">
        <div class="col-md-12">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flashes">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </div>
</main>
<script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
